dash
pydantic
Pillow
requests
langgraph
langchain
fastapi
python-multipart
uvicorn
numpy<2
torch==2.0.1
torchaudio
torchvision
transformers==4.38.2
xformers>=0.0.21
accelerate
sentencepiece
attrdict
einops
git+https://github.com/deepseek-ai/DeepSeek-VL2.git

huggingface-hub